<p>Enter your name:</p>
<input type="text" #name>
<button (click)="sayHello(name.value)">Say hello</button>
{{messageForUser}}


<p>Choose currency</p>

<div style="margin: 5%;">
  <mat-form-field appearance="fill">
    <mat-label>Default currency</mat-label>
    <mat-select [(ngModel)]="defaultCurrency" (selectionChange)="onChange($event)">
      <mat-option *ngFor="let currency of currencyList" [value]="currency">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div style="margin: 5%;">
  <mat-form-field appearance="fill">
    <mat-label>Request currency</mat-label>
    <mat-select [(ngModel)]="requestCurrency" (selectionChange)="onChangeRequestCurrency($event)">
      <mat-option *ngFor="let currency of currencyList" [value]="currency">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <div *ngIf="defaultCurrency && requestCurrency" class="currency-text">
    Enter value of {{defaultCurrency}} in {{requestCurrency}}:
  </div>
</div>

<input type="text" #currency>
<button (click)="check(currency.value)">Check</button>
{{result}}
<br>
{{rates[requestCurrency]}}
