* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.game {
  min-height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:3vh;
}

.info {
  margin-top: 100px;
  font-size: 24px;
}

.drop {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.currency-container {
  height: 1vh;
}
.currency-text {
}

.prompt {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.result {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--primary-accent-color);
  padding: 5px 10px;
}

.hint {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--primary-accent-color);
  padding: 2vh 3vw;
}

.hint-text {
  font-weight: bold;
}

.hint-value {
  display: none;
  font-weight: normal;
}

.hint-active .hint-text {
  display: none;
}

.hint-active .hint-value {
  font-weight: normal;
  display: block;
}


